---
repos:
 - repo: https://github.com/astral-sh/ruff-pre-commit
   rev: f298305809c552671cc47e0fec0ba43e96c146a2  # frozen: v0.13.2
   hooks:
     - id: ruff-check
       types_or: [ python, pyi, jupyter ]
       args: [ --fix ]
     - id: ruff-format
       types_or: [ python, pyi, jupyter ]
 - repo: https://github.com/pre-commit/pre-commit-hooks
   rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
   hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-json
    - id: check-shebang-scripts-are-executable
    - id: check-symlinks
    - id: check-yaml
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: trailing-whitespace
 - repo: https://github.com/lycheeverse/lychee
   rev: cef607cddb6279091869bcbb8fb4b906fd4c046c  # frozen: nightly
   hooks:
     - id: lychee-docker
       # Keep all other configs in the config file
       args: ["--config", ".github/linters/lychee.toml"]
       types: [markdown]
 - repo: https://github.com/rhysd/actionlint
   rev: 03d0035246f3e81f36aed592ffb4bebf33a03106  # frozen: v1.7.7
   hooks:
     - id: actionlint-docker
 - repo: https://github.com/koalaman/shellcheck-precommit
   rev: 99470f5e12208ff0fb17ab81c3c494f7620a1d8d  # frozen: v0.11.0
   hooks:
     - id: shellcheck
       args: [ -x, --source-path=SCRIPTDIR ]
 - repo: https://github.com/trufflesecurity/trufflehog
   rev: 466da5b0bb161144f6afca9afe5d57975828c410  # frozen: v3.90.8
   hooks:
     - id: trufflehog
       # Check the past 2 commits; it's useful to make this go further back than main when running this where main and HEAD are equal
       entry: trufflehog git file://. --since-commit main~1 --no-verification --fail
 - repo: https://github.com/python-openapi/openapi-spec-validator
   rev: a76da2ffdaf698a7fdbd755f89b051fef4c790fd  # frozen: 0.8.0b1
   hooks:
    - id: openapi-spec-validator
 - repo: https://github.com/streetsidesoftware/cspell-cli
   rev: 3749de0c02b93bbbe0eae9d7d72da1ecf3c7a2e0  # frozen: v9.2.0
   hooks:
     - id: cspell
       types: [markdown]
       args:
         - --no-must-find-files
         - --config
         - .github/linters/cspell.config.js
         - --no-progress
         - --no-summary
         - --gitignore
         - --files # this needs to be the last argument so that the paths are passed correctly.
